<div class="container">
	        	<div class="row">
	        		<div class="col-sm-4 footer-about wow fadeInUp">
	        			<h3>About Us</h3>
	        			<p>
	        				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
	        				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
	        			</p>
	        			<p>
                    		<a class="scroll-link" href="#about-us">Learn More</a>
                    	</p>
                    </div>
	        		<div class="col-sm-4 footer-contact-info wow fadeInDown">
	        			<h3>Contact Info</h3>
	                	<p><i class="fa fa-map-marker"></i> Via Rossini 10, 10136 Turin Italy</p>
	                	<p><i class="fa fa-phone"></i> Phone: (0039) 333 12 68 347</p>
	                	<p><i class="fa fa-envelope"></i> Email: <a href="mailto:contact.azmind@gmail.com">contact.azmind@gmail.com</a></p>
	                	<p><i class="fa fa-skype"></i> Skype: regy_online</p>
                    </div>
                    <div class="col-sm-4 footer-social wow fadeInUp">
                    	<h3>We're Social</h3>
                    	<p>
	                    	<a href="#"><i class="fa fa-facebook"></i></a> 
							<a href="#"><i class="fa fa-twitter"></i></a> 
							<a href="#"><i class="fa fa-google-plus"></i></a> 
							<a href="#"><i class="fa fa-instagram"></i></a> 
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</p>
                    </div>
	            </div>
	            <div class="row">
           			<div class="col-sm-6 footer-copyright">
                    	&copy; Regy Bootstrap Registration Template by <a href="http://azmind.com/free-bootstrap-themes-templates/">AZMIND</a>
                    </div>
           			<div class="col-sm-6 footer-menu">
                    	<ul>
                    		<li><a class="scroll-link" href="#top-content">Top</a></li>
							<li><a class="scroll-link" href="#features">Features</a></li>
							<li><a class="scroll-link" href="#how-it-works">How it works</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
                    </div>
           		</div>
</div>


	         <!-- Javascript -->
        <script src="../assets/js/jquery-1.11.1.min.js"></script>
        <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../assets/js/jquery.backstretch.min.js"></script>
        <script src="../assets/js/wow.min.js"></script>
        <script src="../assets/js/retina-1.1.0.min.js"></script>
        <script src="../assets/js/scripts.js"></script>
        