<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/users">Regy - Bootstrap Registration Landing Page</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<li><a href="/checkout">Store</a>
					<ul class="nav navbar-nav navbar-right">
						<% if(user){ %>
							<li><a  href="#testimonials">Testimonials</a></li>
              				<li><a href="/users/logout">SALIR</a></li>
            			<% } else{ %>
							<li><a  href="/users/login">Ingresar</a></li>
							<li><a  href="/users/register">Registrarse</a></li>
            			<% } %>
						
						
						
					</ul>
				</div>
			</div>
</nav>