<!DOCTYPE html>
<html lang="en" ng-app="Index">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>

		<script src="../angular.min.js"></script>
		<script src="../index/indexController.js"></script>
		<script src="../index/factory.js"></script>
		<script src="../index/localStorage.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body ng-controller="mainCtrl as main">		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">		
							<li><a href="/checkout">Store</a>		
							<% if (User!= undefined ) {%>
								<li><%= title %>  <%= User %></li>
							<% } %>				
							<li><a href="/cart">Your Cart</a></li>
							<% if (User== undefined ) {%>					
							<li><a href="/login">Login</a></li>	
							<% } %>	
							<% if (User) { %>
								<li><a href="/users/logout" ng-click="main.logOut()">Salir</a></li>
							<% } %>				
										
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="/" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					
				</div>
			</section>				
			<section class="header_text sub">
			<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
				<h4><span>Shopping Cart</span></h4>
			</section>
			<section class="main-content">				
				<div class="row">
					<div class="span9">					
						<h4 class="title"><span class="text"><strong>Your</strong>Cart</span></h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Remove</th>
									<th>Image</th>
									<th>Product Name</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="producto in main.cart track by $index">
									<td><button type="button" class="btn btn-danger" ng-click="main.remove(producto)">Remove</button></td>
									<td><a><img src="data:{{producto.image.contentType}};base64,{{producto.image.data}}"></a></td>
									<td>{{producto.name}}</td>
									<td><input type="number" placeholder="1" class="input-mini" ng-model="$index" min="0"></td>
									<td>{{producto.price | currency}}</td>
									<td class="totales">{{(producto.price)* $index | currency}}</td>
								</tr>			  
									  
							</tbody>
						</table>
						<p class="cart-total right">
							<strong id="tot">Total</strong><br>
						</p>
						<p class="buttons center">				
							<button class="btn" type="button">Update</button>
							<button class="btn" type="button">Continue</button>
							<button class="btn btn-inverse" type="submit" id="checkout">Checkout</button>
						</p>					
					</div>
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/">Homepage</a></li>  
							<li><a href="./">About Us</a></li>
							<li><a href="/">Contac Us</a></li>
							<li><a href="/cart">Your Cart</a></li>
							<li><a href="/login">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="./themes/images/logo.png" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script>
			$(document).ready(function() {
				$('.input-mini').val("1");
				var y=0;
				var a;
				a=$('.totales');
					a.each(function(){
						var zz=$(this).text().replace("$","");
						y=y+parseInt(zz)*1000;
						console.log(y);
					});
					$('#tot').text( '$'+y );
				$('.input-mini').on('change',function(){
					a=$('.totales');
					a.each(function(){
						var zz=$(this).text().replace("$","");
						y=y+parseInt(zz)*1000;
						console.log(y);
					});
					$('#tot').text( '$'+y );
				});

				$('#checkout').click(function (e) {
					document.location.href = "checkout.ejs";
				});

			});
		</script>		
    </body>
</html>