<!-- DIV DEL CHAT-->
				
	<link rel="stylesheet" href="../users/bootstrap/css/chatStyle.css">
				  <!-- Modal -->

				<div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
        				<div class="modal-content">
            				<div class="modal-header">
                				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                				<h4 class="modal-title">Chat</h4>
                				<% if (User) { %>
				 					<p id="usuarioName"><%= User %></p>
				 					
				  				<% } %>
            				</div>
            				<div class="modal-body" id="chat">
				                
            				</div>
            				<div class="modal-footer">
            				<form id="formularioChat">
            					
  							    <input type="text" class="form-control" id="usr">	
				                <input type="submit"></input>
				            </form>
            				</div>
       					 </div>
    				</div>
				</div>
  <!-- DIV DEL CHAT-->
<script type="text/javascript" src="../users/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="../users/bootstrap/js/socket.io.js"></script>	

<script type="text/javascript">
	$(document).ready(function(){
		var socket= io.connect();
		var $messageForm= $('#formularioChat');
		var $messageBox= $('#usr');
		var $chat= $('#chat');
		var mostrar= true;
		var usuario={
					nombre:$('#usuarioName').html()
		};

		
		socket.emit('new users', usuario.nombre);

		socket.on('usernames',function(data){
			
			for (var i = 0; i < data.length; i++) {
				console.log(data[i]);
			};
		});

		$messageForm.submit(function(e){
			e.preventDefault();
			socket.emit('send message', $messageBox.val());
			$chat.append(" <div class='talk-bubble2 tri-right btm-right'>"+
								  "<div class='talktext2'>"+
								    "<p>"+$messageBox.val()+"</p>"+
								  "</div>"+
								"</div>");
			$messageBox.val('');
			mostrar = false;
			

		});

		socket.on('new message',function(data){
			if (mostrar) {
			console.log(data);
			$chat.append("<div class='talk-bubble tri-right left-top'>"+
								  "<div class='talktext'>"+
								  	data.nick+
								    "<p >"+data.msg+"</p>"+
								  "</div>"+
								"</div>");
			//$chat.append(data+"<br>");
			}{
				mostrar=true;
			}
			
		});
	});
</script>			
			  
