	<!DOCTYPE html>
	<html>
	  <head>
	    <% include ../views/partials/head %>
	  </head>
	  <body>
	  	<% include ../views/partials/header %>
	            <!-- Top content -->
	        <div class="top-content">
	        	<div class="container">
	        	
	        	<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h1 class="wow fadeInLeftBig"><%= title %></h1>
						<h3 class="wow fadeInLeftBig"><%= User %></h3>
						<div class="description wow fadeInLeftBig">
							<p>
								We have been working very hard to create the new version of our app. It comes with a lot of new features. Check it out now!
							</p>
							
						</div>
					</div>
				</div>
	        </div>




	     <footer>
		        <% include ../views/partials/footer %>
	     </footer>
	  </body>
	</html>
