	<!DOCTYPE html>
	<html>
	  <head>
	    <% include ../views/partials/head %>
	  </head>
	  <body>
	  	<% include ../views/partials/header %>
	            <!-- Top content -->
	        <div class="top-content">
	        	<div class="container">
	        	<%= title %>
	        </div>




	     <footer>
		        <% include ../views/partials/footer %>
	     </footer>
	  </body>
	</html>
