	<!DOCTYPE html>
	<html>
	  <head>
	    <% include ../views/partials/head %>
	  </head>
	  <body>
	  	<% include ../views/partials/header %>
	            <!-- Top content -->
	        <div class="top-content">
	        	<div class="container">
	        	
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp">
							<div class="r-form-1-top">
								<div class="r-form-1-top-left">
									<h3>Ingresar</h3>
									<p>Digite su usurio y contraseña para disfrutar de nuestros descuentos	</p>
								</div>
								
								<div class="r-form-1-top-right">
									<i class="fa fa-pencil"></i>
								</div>

							</div>
							
							<div class="r-form-1-bottom">

	   					    
	    					<% if (success_msg) { %>
	        					<div class="alert alert-success"><%= success_msg %> </div>
           					 <% } %>
	    					<% if (error) { %>
	        					<div class="alert alert-danger"><%= error %> </div>	
           					<% } %>
								<form role="form" action="/users/login" method="post">
									<div class="form-group">
										<label class="sr-only" for="r-form-1-last-name">User</label>
										<input type="text" name="username" placeholder="Username..." class="r-form-1-last-name form-control" id="username">
									</div>
									<div class="form-group">
										<label class="sr-only" for="r-form-1-about-yourself">Pass</label>
										<input type="password" name="password" placeholder="Password..." class="r-form-1-password form-control" id="password">
									</div>
									<a href="/users/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
									 <a href="/users/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
									 <a href="/users/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
									<button type="submit" class="btn">Ingresar!</button>
								</form>
							</div>
						</div>
					</div>
	                
	            </div>
	        </div>




	     <footer>
		        <% include ../views/partials/footer %>
	     </footer>
	  </body>
	</html>
